<html>
  <head>
    <title>Questionnaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet (CSS) and JavaScript scripts necessary to use Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>    

    <!-- <script src="https://code.jquery.com/jquery-1.12.4.js"></script> -->
  </head>
  
  <body>
	
	<div class="container-md p-3 my-3 border bg-dark text-white" id="survey" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <h1>Survey</h1>
    <form>
      <h2> How do the colors Buzzfeed's website utilizes make you feel? </h2>
      <br>
      <input type="text" name="colors" placeholder="answer here..." required />
      <br>
      <br>
      <h2> The use of a navigation bar a satisfactory navigation experience. </h2>
	    <input type="radio" name="navbar"> Agree
      <br>
      <br>
      <h2>BuzzFeed should display trending articles:</h2>
      <label for="articles" id ="articles"></label><br>
            <select name="articles" id="articles">
                <option value="side">on the side</option>
                <option value="gallery">in a gallery at the top</option>
                <option value="center">in the center of the page</option>
            </select>
      <br>
      <br>
      <h2> What qualities of the BuzzFeed website do you like? </h2>
	    I like that:<br>
		  <input type="checkbox" name="quality" value="Quality1"> The BuzzFeed website makes use of the space<br>
		  <input type="checkbox" name="quality" value="Quality2"> The BuzzFeed website is well organized<br>
      <input type="checkbox" name="quality" value="Quality3"> The BuzzFeed website is easy to navigate<br>
      <br>
      <h2>How do you rank the BuzzFeed website visually? </h2>
      
      <div class="question">
      <ul class="likert">
        <li> Appealing </li>
        <li><input type="radio" name="guilty" value="1" /></li>
        <li><input type="radio" name="guilty" value="2" /></li>
        <li><input type="radio" name="guilty" value="3" /></li>
        <li><input type="radio" name="guilty" value="4" /></li>
        <li><input type="radio" name="guilty" value="5" /></li>
        <li> Unappealing </li>
    </ul>
      <br>
      
      Comments:<br><input type ="text" name="comments">
      <br>
      <br>
      <button type="submit" class="btn btn-warning" id="bb">Submit</button>
      <p id="thanks"></p>
    </form>
    </div>
	<script src="/assets/action.js"></script>
  </body>
</html> 